

@media screen and (max-width: 480px) {
    .mobile-menu {
        display: block;
        color: #fff;
        font-size: 2rem;
    }
    .manu.active {
        /* background: #111; */
        left: 0;
        opacity: 1;
        z-index: 1;
        padding-left: 0;
        align-content: center;
        transition: 0.5s ease;
    }
    }


